@{
    ViewBag.Title = "Home Page";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">


<!--Card-->
<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
        <a href="#!">
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->
    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Book a room</strong></h4>
        <h5 class="indigo-text"><strong>Booking</strong></h5>

        <p class="card-text">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>

        <!--Linkedin-->
        <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
        <!--Dribbble-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->

<!--Card-->
<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
        <a href="#!">
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->
    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>About us</strong></h4>
        <h5 class="indigo-text"><strong>Information</strong></h5>

        <p class="card-text">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>

        <!--Linkedin-->
        <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
        <!--Dribbble-->
        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->


@section Scripts { 

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>

}
